body {
  background: black;
  filter: invert(1);

  .jumpable {
    &::before {
      background: #CAD7E3;
      color: #f00;
    }
  }
}

.mainRouterContainer {
  &.isRequesting {
    cursor: progress;
  }
}

.sourceSettingsContainer {
  display: flex;
  flex-direction: column;
}
